%html
  %head
    %style
      :css
        .centered-image {
          display: flex;
          justify-content: center;
          align-items: center; 
          height: 200vh;
        }
        .centered-image .content {
          text-align: left; 
          padding: 20px;
        }
        .centered-image img {
          max-width: 70%;
          max-height: 70%;
          padding: 20px; 
        }
        
  %body
    .centered-image
      .content
        %h1= @welcome_message 
      %img(src="https://lettraining.com.au/wp-content/uploads/2022/02/manager.jpg" alt="Administración")


